<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>PG - Landing</title>
    <link rel="stylesheet" href='{% static "notfinal/css/bootstrap.css" %}'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">-->
<!--    <link rel="stylesheet" href="../../static/payingGuest/css/custom.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet " href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav class="navbar navbar-expand-md bg-light nav-dark ">
    <ul>
        <li>
            <a class="navbar-brand" href="#">WeCare</a>
        </li>
    </ul>
    <ul class="navbar-nav" style="float:right">
        <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Notifications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">logout</a>
        </li>
    </ul>
</nav>
<div class="row">
    <div class="col-md-4 ">
        <nav class="navbar bg-light left nav-light justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Manage News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Manage Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Manage </a>
                </li>
            </ul>
        </nav>
    </div>
</div>

</body>
</html>