<!DOCTYPE html5>
<html>
<head>
    <title>Vendor - Registration</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/payingGuest/css/custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet " href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="container-fluid mt-4  ">
    <div class="row">
        <div class="col-md-6"><img class="img-fluid" src="../../static/payingGuest/image/registration.png" alt="Sign-Up"> </div>
        <div class="col-md-4 offset-1 leftside ">
            <form>
                <div class="container">
                    <h3 class="text-center">Sign Up</h3>
                </div><br>
                <div class="form-group inwith">
                    <!--                    <label for="unm">Username</label>-->
                    <input id="unm" name="unm" type="text" class="form-control form-control-sm" placeholder="User Name">
                    <i class="fa fa-user iconfile" area-hidden="true"></i>
                </div>
                <div class="form-group inwith">
                    <!--                    <label for="email">Email</label>-->
                    <input id="email" name="email" type="email" class="form-control form-control-sm" placeholder="Email">
                    <i class="fa fa-envelope iconfile" area-hidden="true"></i>
                </div>
                <div class="form-group inwith">
                    <!--                    <label for="pw">Password</label>-->
                    <input id="pw" name="pw" type="password" class="form-control form-control-sm" placeholder="Password">
                    <i class="fa fa-key iconfile" area-hidden="true"></i>
                </div>
                <div class="form-group inwith">
                    <!--                    <label for="cno">Contect Number</label>-->
                    <input id="cno" name="cno" type="tel" class="form-control form-control-sm" placeholder="Contact Number">
                    <i class="fa fa-phone-alt iconfile" area-hidden="true"></i>
                </div>

                <div class="form-group d-flex justify-content-center">
                    <button  type="submit" class="btn btn-primary sub">Sign Up</button>
                </div>
                <div class="link">
                    <p>Already a Vendor?<a href="Vlogin.html"> Sign In</a></p>
                </div>
            </form>
        </div>
    </div>
</div>



</body>
</html>