<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href='{% static "accounts/css/bootstrap.css" %}'>
    <link rel="stylesheet" href='{% static "accounts/css/custom.css" %}'>
    <script src='{% static "accounts/js/jquery.js" %}'></script>
    <script src='{% static "accounts/js/bootstrap.js" %}'></script>
    <link rel="stylesheet" href='{% static "accounts/icons/css/all.css" %}'>
<!--    <link rel="stylesheet" href='{% static "accounts/icons/css/material-icons.min.css" %}'>-->
<!--     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
</head>
<body>
<div class="container-fluid">
    <div class="row"  style="margin-top:100px;">
        <div class="col-md-4 offset-4 shadow p-3 mb-5 bg-white rounded">
            <div class="container d-flex justify-content-center">
                <i class="fa fa-user-circle"  style="color:green; font-size:100px; margin-top:-70px;"></i>
            </div>
            <form method="post" action="login">
                {% csrf_token %}
                <br>
                <div class="container">
                    <h3 class="text-center" style="color:green">Sign In</h3>
                </div>
                <hr style="background-color:green"><br>
                <div class="form-group inwith">
                    <input id="email" name="email" type="email" class="form-control form-control-sm" placeholder="Email">
                    <i class="fa fa-envelope iconfile" area-hidden="true"></i>
                </div>
                <div class="form-group inwith">
                    <input id="pw" name="pw" type="password" class="form-control form-control-sm" placeholder="Password">
                    <i class="fa fa-key iconfile" area-hidden="true"></i>
                    <a href="#" data-toggle="modal" data-target="#forgotPassword">forgot password?</a>
                </div>
                <div class="form-group d-flex justify-content-center">
                    <button  type="submit" class="btn sub" >Sign In</button>
                </div>
                <div class="link">
                    <p>Don't have an account?<a href="register.html"> Sign Up</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

<!--modal for forgot password-->
<div class="modal fade" id="forgotPassword" tabindex="-1" role="dialog" aria-labelledby="forgotPasswordLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background:#e6f7f6">
                <h4 class="modal-title" style="color:blue" id="forgotPasswordLabel">Forgot Password?</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <br><p class="text-center" style="color:7394f0">No worries! Enter your email and we will send you a reset</p>
            <div class="modal-body">
                <form method="post" action="#" enctype="multipart/form-data">
                    <div class="form-group inwith">
                        <input type="email" name="resetemail" class="form-control form-control-sm " placeholder="Enter Email"/>
                        <i class="fa fa-envelope iconfile d-flex justify-content-left" area-hidden="true"></i>
                    </div>
                    <div class="row">
                        <div class="col-md-4 offset-4">
                            <button type="button" class="btn btn-primary">Reset Password</button>
                        </div>
                    </div>
                    <div class="text-center">
                        <a href="#" >Back To Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--end of a modal-->
</body>
</html>